#titulo {
    font-family: monospace;
    text-align: center;
    font-size: 20px;
}

#menu {
    text-align: center;
    color: white;
}

#header {
    margin-bottom: 8em;
}

#descricao {
    font-family: sans-serif;
    float: left;
    width: 50%;
    text-align: center;
}

#imagem {
    float: right;
    width: 50%;
}

#habilidade {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: wheat;
}

em {
    color: tomato;
}

.italico {
    font-style: italic;
}

.java, .html, .css, .javascript {
    font-size: 20px;
}